<h1>Servidores</h1>


<div layout="row" layout-sm="column" ng-repeat="s in servers" class="servers" layout-align="center center">
    <md-tooltip >{{s.description}} <span ng-if="s.ping"> ping: {{s.ping}} ms</span></md-tooltip>
    <div>{{s.name|uppercase}}</div>
    <div>{{s.location}}</div>
    <div flex>{{s.protocol}}://{{s.ip}}:{{s.port}}</div>
    <div><md-button ng-click="ping(s)">Ping {{s.ping}}</md-button></div>
    <div><md-button>Start</md-button></div>
    <div><md-button>Stop</md-button></div>
</div>