doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower/angular-material/angular-material.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
      block content